   /* CUSTOM PROPERTY  */

  :root{
    ---body-bg:#f2f2f2;
    ---text-color:#111517;
    ---header-bg:#ffff;
    ---light-body:#fff;
  }

/* FONTS  */
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




/* GLOBAL STYLES  */

 html{
  height: 100%;
  scroll-behavior: smooth;
 }

 *,
 *::before,
 *::after{
  box-sizing:inherit;
 }

 *{
  box-sizing: border-box;
 }

 *:focus{
  outline: 2ps dashed blueviolet;
 }



.main-content{
  flex-grow: 1;
}

 body{
  display:flex ;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: "Nunito Sans","Arial",sans-serif;
  font-size: 14px;
  font-weight: light;
  background-color: var(---body-bg);
  color: var(---text-color);
  line-height: 16px;
  transition: background-color 0.4s ease, color 0.4s ease,---logo-bg 0.4s ease;
 }


  /* DARK-MODE  */

  .dark-mode {
    ---body-bg:#202C36;
    ---text-color:#f2f2f2;
    ---header-bg:var(---body-bg);
    ---logo-bg:#fff;
    ---light-body:#2B3844;
    }

 *:focus{
    outline: 3px dashed lightgreen;
 }

 .container{
width: 100%;
max-width: 1300px;
padding-right: 20px;
padding-left: 20px;
margin-right: auto;
margin-left: auto;
 }

a{
    text-decoration: none;
}

 /* SITE HEADER STYLES  */

 .site-header {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: var(---header-bg);
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.07);
    transition: background-color 0.4s ease;
   background-color:var(---light-body);
}

.site-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}


.header-wrapper{
    background-color:var(---logo-bg);
    padding: 15px;
    border-radius:17px;
}

.site-logo-link {
  display: inline-block;
font-weight: 800;
font-size: 24px;

line-height: normal;

}
.site-logo-img{
    display: block;
width: 234px;
height: 33px;
flex-shrink: 0;

}


.site-logo-img:hover{
    opacity: 0.5;
}

.site-logo-img:active{
    opacity: 0.7;
}

.wrapper-toggler {

}
.toggler-button {
    padding: 0;
    border: 0;
    background-color:transparent;
    cursor: pointer;
}
.toggler-button-inner {
    display: flex;
    align-items:center;
    color: var(---text-color);
}
.moon-icon-img {
   margin-right: 8px;
   flex-shrink: 0;

}
.toggler-icon-heading {
font-weight: 600;
font-size: 16px;
line-height: 21px;
color: var(---text-color);
}



/* SITE MAIN  */
.main-content {
margin-top: 48px;
margin-bottom: 48px;
}

.filters {
    display: flex;
    align-items:center;
    justify-content: space-between;
margin-bottom: 48px;
}
.filter-search-input {
    max-width: 480px;
padding: 18px 74px;
border-radius: 5px;
 box-shadow: 0 2 9 0 #000000 5.32%;
border:0 ;
background-color:var(---light-body);
color:var(---text-color);
}





.filter-region-select {
    padding: 18px 25px;
   border-radius:5px;
   border:0;
   max-width: 200px;
   background-color: var(---light-body);
   color: var(---text-color);
}


/* INDEX COUNTRIES  */

.index-countries{

}
.container {
}
.index-countries-list {
    display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style: none;
margin-left: -75px;

}
.index-list-item {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    width: calc(25% - 75px);

}

.index-list-item:not(:last-child){
    margin-bottom: 75px;
}

.wrapper-item {
    display: flex;
    flex-direction: column;
    transition: background-color 0.4s ease;
    background-color: var(---light-body);
    border-radius: 5px;

}

.index-item-img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 24px;
}
.index-footer-heading {
 margin: 0;
 font-weight: 800;
 font-size: 18px;
 line-height: 26px;
 margin-left: 24px;
 margin-bottom: 16px;
}

.index-heading-link{
    color:var(---text-color);
    cursor: pointer;
}

.index-footer-wrapper {
padding-left: 24px;

}
.index-footer-list {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
  padding-bottom: 46px;

}
.index-footer-item {
display: flex;
margin-bottom: 8px;

}
.index-footer-term {
    color:var(---text-color);
    font-weight: 300;
font-size: 14px;
line-height: 16px;
}
.index-footer-term-definition {
    margin: 0;
    margin-left: 4px;
    color:var(---text-color);
}