   /* CUSTOM PROPERTY  */

  :root{
    ---body-bg:#f2f2f2;
    ---text-color:#111517;
    ---header-bg:#ffff;

  }

/* FONTS  */
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




/* GLOBAL STYLES  */

 html{
  height: 100%;
  scroll-behavior: smooth;
 }

 *,
 *::before,
 *::after{
  box-sizing:inherit;
 }

 *{
  box-sizing: border-box;
 }

 *:focus{
  outline: 2ps dashed blueviolet;
 }

 /* DARK-MODE  */

 .dark-mode {
 ---body-bg:#202C36;
 ---text-color:#f2f2f2;
 ---header-bg:var(---body-bg);
 ---logo-bg:#fff;
 }

.main-content{
  flex-grow: 1;
}

 body{
  display:flex ;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: "Nunito Sans","Arial",sans-serif;
  font-size: 14px;
  font-weight: light;
  background-color: var(---body-bg);
  color: var(---text-color);
  line-height: 16px;
 }

 .container{
width: 100%;
max-width: 1300px;
padding-right: 20px;
padding-left: 20px;
margin-right: auto;
margin-left: auto;
 }

a{
    text-decoration: none;
}

 /* SITE HEADER STYLES  */

 .site-header {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: var(---header-bg);
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.07);

}

.site-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}


.header-wrapper{
    background-color:var(---logo-bg);
}

.site-logo-link {
  display: inline-block;
font-weight: 800;
font-size: 24px;

line-height: normal;

}
.site-logo-img{
    display: block;
width: 234px;
height: 33px;
flex-shrink: 0;

}


.site-logo-img:hover{
    opacity: 0.5;
}

.site-logo-img:active{
    opacity: 0.7;
}

.wrapper-toggler {

}
.toggler-button {
    padding: 0;
    border: 0;
    background-color:transparent;
    cursor: pointer;
}
.toggler-button-inner {
    display: flex;
    align-items:center;
    color: var(---text-color);
}
.toggler-icon-img {
   margin-right: 8px;
   flex-shrink: 0;
   border:1px solid transparent;
}
.toggler-icon-heading {
font-weight: 600;
font-size: 16px;
line-height: 21px;
color: var(---text-color);
}